<div class="container p-6">
  <h1 class="has-text-black is-size-1 mb-6">My Orders</h1>

  <% @orders.each do |order| %>
    <div class="box mb-6 pb-4 has-background-white order-box" style="position: relative;">
        <div class="has-background-light is-flex is-gap-2 p-2 mb-2 sticky-section">
            <div class="has-text-black is-size-6 mb-2">
                <strong class="has-text-black">ORDER PLACED</strong>
                <p><%= order.created_at.strftime("%B %d, %Y") %></p>
            </div>
            <div class="has-text-black is-size-6 mb-2" style="border-left: 1px solid #ada9a9; padding-left: 15px;">
                <strong class="has-text-black">TOTAL</strong>
                <p>$<%= order.total_price %></p>
            </div>
        </div>

        <% order.order_items.each do |order_item| %>
          <div class="media">
            <!-- Product Image -->
            <figure class="media-left">
              <% if order_item.product.image.attached? %>
                <p class="image is-square is-64x64 mt-1">
                  <img src="<%= url_for(order_item.product.image) %>" class="product-cart-image" alt="Product Image">
                </p>
              <% end %>
            </figure>

            <!-- Product Details -->
            <div class="media-content">
              <h3 class="has-text-black is-size-5 mb-2">
                <%= link_to order_item.product.name, product_path(order_item.product), class: "has-text-black" %>
              </h3>
              <p class="has-text-grey">Price: $<%= order_item.unit_price %></p>
              <p class="has-text-grey mb-2">Quantity: <%= order_item.quantity %></p>
              <%= link_to 'Buy it again', product_path(order_item.product), class: "button is-primary" %>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>


