<div class="container p-6">
  <div class="tabs is-right">
    <ul>
      <li class="<%= 'is-active' unless params[:category_id] %>">
        <%= link_to 'All', products_path %>
      </li>
      <% Category.all.each do |category| %>
        <li class="<%= 'is-active' if params[:category_id].to_i == category.id %>">
          <%= link_to category.name, products_path(category_id: category.id) %>
        </li>
      <% end %>
    </ul>
  </div>
  <h1 class="mb-4 has-text-black is-size-1">All Products</h1>
  <% if @products.any? %>
    <div class="grid is-gap-6 product-grid">
      <% @products.each do |product| %>
        <div class="cell">
          <%= render partial: 'product', locals: { product: product } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>There are no products now.</p>
  <% end %>
</div>