<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item has-text-primary" href="/">
      <img src="<%= image_path("shopping.png") %>" alt="Shopping">
      Samlee Home Goods
    </a>
    <div class="navbar-burger js-burger" data-target="navbarExample">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item <%= active_class('/') %>" href="/"> Products </a>
      <% if logged_in? %>
        <a class="navbar-item <%= active_class('/orders') %>" href="/orders"> Orders </a>
        <a class="navbar-item cart-link <%= active_class('/cart') %>" href="/cart"> 
          <% if @cart_item_count > 0 %>
            <span class="tag is-warning is-rounded cart-count"><%= @cart_item_count %></span>
          <% end %>
          Cart 
        </a>
      <% end %>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <% if logged_in? %>
          <span class="navbar-item has-text-white">Welcome, <%= current_user.first_name %> <%= current_user.last_name %></span>
          <%= button_to 'Logout', logout_path, method: :delete, class: "button is-danger has-text-white" %>
        <% else %>
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Login
          </a>
        <% end %>
      </div>
    </div>
  </div>
</nav>